.video-player {
  position: relative;
  max-width: 600px;
  min-height: 300px;
  overflow: hidden;
  background-color: #000;
}

.video-player .vdp-player {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.video-player .vdp-poster {
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

.video-player .vdp-poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-player .vdp-poster .vdp-play-pause {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
}

.video-player .vdp-poster .vdp-play-pause::after {
  content: "";
  display: block;
  border-top: 25px solid transparent;
  border-left: 40px solid #333;
  border-bottom: 25px solid transparent;
  align-self: center;
}

.video-player .vdp-title {
  position: absolute;
  top: 5px;
  left: 5px;
  max-width: 90%;
  background-color: #000000ce;
  color: #fff;
  z-index: 10;
  padding: 5px 10px;
  line-height: 0;
}

.video-player .vdp-controll {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000a6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-player .vdp-controll .vdp-play-pause {
  width: 50px;
  height: 100%;
  border-right: 1px solid #333;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player .vdp-controll .vdp-play::after {
  content: "";
  border-top: 10px solid transparent;
  border-left: 15px solid #ffffff;
  border-bottom: 10px solid transparent;
}

.video-player .vdp-controll .vdp-pause::after {
  content: "=";
  font-size: 30px;
  color: #fff;
  rotate: 90deg;
}

.video-player .vdp-controll .vdp-volume-bar {
  margin-right: 10px;
}

/**
  * Slider REF: https://codepen.io/ibaslogic/pen/KKBLMxy
**/

.vdp-volume-bar input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

.vdp-volume-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 10px;
  width: 10px;
  background-color: #04AA6D;
  border-radius: 50%;
  border: 2px solid #04AA6D;
  box-shadow: -407px 0 0 400px #04AA6D;
}

.vdp-volume-bar input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #04AA6D;
  box-shadow: -407px 0 0 400px #04AA6D;
}

.vdp-volume-bar input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  background: transparent;
  border-radius: 16px;
}

.vdp--invisible {
  display: none !important;
}